/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/ext/ruby-zint/Makefile
/ext/ruby-zint/tmp/
/lib/libzint.so*
/ports/

# rspec failure tracking
.rspec_status

# byebug
.byebug_history
/Gemfile.lock
